[include mcu/AFC_Lite.cfg]

[mcu AFCCan]
canbus_uuid: 83fa10444f18

[AFC_BoxTurtle AFCCan]
hub: AFCCan
extruder: extruder
enable_assist: True      # Setting to True enables espooler assist while printing
enable_kick_start: True  # Setting to True enables full speed espoolers for kick_start_time(0.070 ms default) amount
buffer: TurtleNeck       # If not defined below from the install script, uncomment and add buffer name if using a buffer

[temperature_sensor AFC_MCU]
sensor_type: temperature_mcu
sensor_mcu: AFCCan

[AFC_stepper lane1]
unit: AFCCan:1
step_pin: AFCCan:M1_STEP
dir_pin: !AFCCan:M1_DIR
enable_pin: !AFCCan:M1_EN
microsteps: 16
rotation_distance: 4.65
dist_hub: 155.0
park_dist: 10
led_index: AFC_Indicator:1
afc_motor_rwd: AFCCan:MOT1_RWD
afc_motor_fwd: AFCCan:MOT1_FWD
afc_motor_enb: AFCCan:MOT1_EN
rwd_speed_multiplier: 0.5
fwd_speed_multiplier: 0.5
pwm: True
hardware_pwm: True
prep: ^!AFCCan:TRG1
load: ^AFCCan:EXT1

[tmc2209 AFC_stepper lane1]
uart_pin: AFCCan:M1_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_stepper lane2]
unit: AFCCan:2
step_pin: AFCCan:M2_STEP
dir_pin: !AFCCan:M2_DIR
enable_pin: !AFCCan:M2_EN
microsteps: 16
rotation_distance: 4.65
dist_hub: 80
park_dist: 10
led_index: AFC_Indicator:2
afc_motor_rwd: AFCCan:MOT2_RWD
afc_motor_fwd: AFCCan:MOT2_FWD
afc_motor_enb: AFCCan:MOT2_EN
rwd_speed_multiplier: 0.5
fwd_speed_multiplier: 0.5
pwm: True
hardware_pwm: True
prep: ^!AFCCan:TRG2
load: ^AFCCan:EXT2

[tmc2209 AFC_stepper lane2]
uart_pin: AFCCan:M2_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_stepper lane3]
unit: AFCCan:3
step_pin: AFCCan:M3_STEP
dir_pin: !AFCCan:M3_DIR
enable_pin: !AFCCan:M3_EN
microsteps: 16
rotation_distance: 4.65
dist_hub: 90.0
park_dist: 10
led_index: AFC_Indicator:3
afc_motor_rwd: AFCCan:MOT3_RWD
afc_motor_fwd: AFCCan:MOT3_FWD
afc_motor_enb: AFCCan:MOT3_EN
rwd_speed_multiplier: 0.5
fwd_speed_multiplier: 0.5
pwm: True
hardware_pwm: True
prep: ^!AFCCan:TRG3
load: ^AFCCan:EXT3

[tmc2209 AFC_stepper lane3]
uart_pin: AFCCan:M3_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_stepper lane4]
unit: AFCCan:4
step_pin: AFCCan:M4_STEP
dir_pin: !AFCCan:M4_DIR
enable_pin: !AFCCan:M4_EN
microsteps: 16
rotation_distance: 4.65
dist_hub: 145.0
park_dist: 10
led_index: AFC_Indicator:4
afc_motor_rwd: AFCCan:MOT4_RWD
afc_motor_fwd: AFCCan:MOT4_FWD
afc_motor_enb: AFCCan:MOT4_EN
rwd_speed_multiplier: 0.5
fwd_speed_multiplier: 0.5
pwm: True
hardware_pwm: True
prep: ^!AFCCan:TRG4
load: ^AFCCan:EXT4

[tmc2209 AFC_stepper lane4]
uart_pin: AFCCan:M4_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_hub AFCCan]
switch_pin: ^AFCCan:HUB   # Pin for the hub switch
afc_bowden_length: 1725     # Length of the Bowden tube from the hub to the toolhead sensor in mm.
move_dis: 50                # Distance to move the filament within the hub in mm.
#hub_clear_move_dis: 25     # Distance after hub switch becomes fast to retract to insure hub is clear
cut: False                  # Hub cutter installed (e.g. Snappy)

#--=================================================================================--#
######### Hub Cut #####################################################################
#--=================================================================================--#
assisted_retract: False     # If True, retracts are assisted to prevent loose windows on the spool
cut_cmd: AFC #CMD to use
cut_dist: 50                # How much filament to cut off (in mm).
cut_clear: 120              # How far the filament should retract back from the hub (in mm).
cut_min_length: 300.0
cut_servo_pass_angle: 10    # Servo angle to align the Bowden tube with the hole for loading the toolhead.
cut_servo_clip_angle: 180   # Servo angle for cutting the filament.
cut_servo_prep_angle: 80    # Servo angle to prepare the filament for cutting (aligning the exit hole).

#[AFC_screen AFCCan]
#mac_address: None

[AFC_led AFC_Indicator]
pin: AFCCan:RGB1
chain_count: 4
color_order: GRBW

#[neopixel Extra2]
#pin: AFCCan:RGB2
#chain_count: 6
#color_order: GRB

#[neopixel Extra3]
#pin: AFCCan:RGB3
#chain_count: 6
#color_order: GRB

#[neopixel Extra4]
#pin: AFCCan:RGB4
#chain_count: 4
#color_order: GRB
