###############################################################################
#   Filament Sensor Configuration
###############################################################################

## AFC Bypass Filament Switch Sensor
[filament_switch_sensor bypass]
switch_pin: ^PF1
pause_on_runout: False
runout_gcode:
    PAUSE
    M117 Filament Runout Detected At Bypass
insert_gcode:
    M117 Bypass - AFC Disabled

## Tool Head (Extruder) Filament Switch Sensor
#[filament_switch_sensor toolhead]
#switch_pin: ^EBB36:PD0
#pause_on_runout: False
#runout_gcode:
#    PAUSE
#    M117 Filament Runout Detected At Toolhead
#insert_gcode:
#    M117 Filament Inserted, Resume Print
