###############################################################################
# 	Printer Macros
###############################################################################

## Set idle conditions for fans/chamber led brightness, filament sensor
[delayed_gcode _PRINTER_SET_IDLE]
initial_duration: 1.0
gcode:
    SET_FAN_SPEED FAN=electronics_fan_1 SPEED=0.65  # Electronics fans to ~2000RPM
    SET_FAN_SPEED FAN=electronics_fan_2 SPEED=0.65  # Electronics fans to ~2000RPM
    SET_PIN PIN=chamber_led VALUE=0.25              # Chamber LED to 50%
    #SET_FILAMENT_SENSOR SENSOR=motion ENABLE=0      # Disable filament motion sensor

## Set print conditions for fans/chamber led brightness, filament sensor
[gcode_macro _PRINTER_SET_PRINT]
gcode:
    {% set m_start = params.END|default(0)|int %}

    {% if m_start == 0 %}                               # Called from PRINT_START macro start
        SET_FAN_SPEED FAN=electronics_fan_1 SPEED=1.0   # Electronics fans to full speed
        SET_FAN_SPEED FAN=electronics_fan_2 SPEED=1.0   # Electronics fans to full speed
        SET_PIN PIN=chamber_led VALUE=1.0               # Chamber LED to 100%
        SET_FILAMENT_SENSOR SENSOR=motion ENABLE=0      # Disable motion sensor during print start
    #{% else %}                                          # Called from PRINT_START macro end
        #{% if printer['filament_switch_sensor bypass'].filament_detected|int == 1 %}  # If bypass
        #    SET_FILAMENT_SENSOR SENSOR=motion ENABLE=1  # Enable filament motion sensor
        #{% endif %}
    {% endif %}
    
## Heat Soak Macro
[gcode_macro _HEAT_SOAK]
gcode:
    {% set t_bed = params.BED|int %}
    {% set t_chamber = params.CHAMBER|int %}
    {% set filament = params.FILAMENT|string %}

    SET_DISPLAY_TEXT MSG="Bed: {t_bed}C"                  # Display info on display
    M140 S{t_bed}                                         # Set target temp for the bed 
    TEMPERATURE_WAIT SENSOR="heater_bed" MINIMUM={t_bed}  # Wait for bed temp before heat soak
    
    {% if filament == 'ASA' or filament == 'ABS' %}       # If high warp filament (ASA/ABS)
        M106 S255                                         # Circulate air with part cooling fan
        SET_DISPLAY_TEXT MSG="Heat Soak: {t_chamber}C"    # Display info on display
        TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={t_chamber} # Wait for chamber temp
        M107                                              # Turn off part cooling fan
    {% else %}                                            # Otherwise, PLA/PETG/low-temp/etc.
        SET_DISPLAY_TEXT MSG="Heat Soak: 5 min"           # Display info on display
        G4 P300000                                        # Wait 5 min for bed to stabilize
    {% endif %}

## AFC Init - Bypass Check Macro
[gcode_macro _AFC_INIT]
gcode:
    {% set t_extruder = params.EXTRUDER|int %}
    {% set i_tool = params.TOOL|int %}
    
    {% if printer['filament_switch_sensor bypass'].filament_detected|int == 0 %}  # If no bypass
        SET_FILAMENT_SENSOR SENSOR=motion ENABLE=0    # Ensure filament motion sensor is disabled
        AFC_PARK                                      # Park position for AFC init tool load
        SET_DISPLAY_TEXT MSG="AFC Initial Tool Load"  # Display info on display
        T{i_tool}                                     # AFC initial tool load
    {% endif %}
    
## Purge Line Macro
[gcode_macro _LINE_PURGE]
gcode:
    G0 X125 Y2 Z0.4 F10000  # Go to purge starting point
    G91                     # Incremental positioning 
    G1 X100 E20 F1000       # Primeline
    G0 Y0.5 F10000          # Move over slightly on Y-axis
    G1 X-100 E20 F1000      # Backwards Primeline
    G90                     # Absolute positioning
        
## Print Start Macro   
[gcode_macro PRINT_START]
description: Perform necessary steps prior to starting the current print job
gcode:
    {% set t_extruder = params.EXTRUDER|int %}
    {% set t_bed = params.BED|int %}
    {% set t_chamber = params.CHAMBER|default(25)|int %}
    {% set i_tool = params.TOOL|default(0)|int %}
    {% set filament = params.FILAMENT|default('PLA')|string %}
    {% set b_type = params.PLATE|default("Cool Plate")|string %}
    {% set s_extruder = 150|int %}

    SET_GCODE_OFFSET Z=0                                  # Reset Z offset
    G28                                                   # Full home (XYZ)
    G90                                                   # Absolute position
    BED_MESH_CLEAR                                        # Clear old saved bed mesh (if any)
    _PRINTER_SET_PRINT                                    # Set fan/led/chamber LED to print
    M104 S{s_extruder}                                    # Set hotend to standby temp
    SET_DISPLAY_TEXT MSG="Bed: {t_bed}C"                  # Display info on display
    _STATUS_HEATING                                       # Set LEDs to heating mode
    _HEAT_SOAK BED={t_bed} CHAMBER={t_chamber} FILAMENT={filament}  # Heat soak to target chamber temp/time
    CLEAN_NOZZLE                                          # Clean nozzle before QGL
    SET_DISPLAY_TEXT MSG="Quad Gantry Leveling"           # Display info on display
    _STATUS_LEVELING                                      # Set LEDs to leveling mode
    QUAD_GANTRY_LEVEL                                     # Level the printer via QGL
    CLEAN_NOZZLE                                          # Clean nozzle prior to carto. touch (real Z0)
    CARTOGRAPHER_TOUCH_HOME                               # Home for real Z0 value (replaces G28 Z)
    SET_DISPLAY_TEXT MSG="Bed Mesh Calibrate"             # Display info on display
    _STATUS_MESHING                                       # Set LEDs to bed mesh mode
    BED_MESH_CALIBRATE ADAPTIVE=1                         # Start the bed mesh (ADAPTIVE=1 for adaptive)
    G1 X335 Y354 Z10 F10000                               # Park at rear of bed over purge bucket
    SET_DISPLAY_TEXT MSG="Hotend: {t_extruder}C"          # Display info on display
    _STATUS_HEATING                                       # Set LEDs to heating mode
    M109 S{t_extruder}                                    # Wait for hotend heating to set temp
    _AFC_INIT EXTRUDER={t_extruder} TOOL={i_tool}         # AFC bypass check/initial tool load
    G4 P10000                                             # Wait 10 seconds for filament ooze
    CLEAN_NOZZLE                                          # Clean nozzle before prime/print
    SET_DISPLAY_TEXT MSG="Prime Line Time!"               # Display info on display
    _STATUS_PRINTING                                      # Set LEDs to printing mode
    _LINE_PURGE                                           # Purge line at front of bed before print
    SET_DISPLAY_TEXT MSG="Print Time!"                    # Display info on display
    _PRINTER_SET_PRINT END=1                              # Enable motion sensor if in bypass in printer set macro
    SKEW_PROFILE LOAD=a4t_ww-bmg_skew                     # Load calibrated skew profile
   
## Print End Macro
[gcode_macro PRINT_END]
description: Perform necessary steps at print end/cancel/completion before idle state
gcode:
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    SET_SKEW CLEAR=1                                        # Clear skew profile
    G92 E0                                                  # Zero the extruder
    G1 E-10.0 F3600                                         # Retract filament
    G91                                                     # Relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000                             # Move nozzle to remove stringing
    TURN_OFF_HEATERS                                        # Turn off the heaters
    M107                                                    # Turn off fan
    G1 Z5 F3000                                             # Move nozzle up 5mm
    G90                                                     # Absolute positioning
    G0 X175 Y350 F3600                                      # Park nozzle at middle rear of bed
    SET_VELOCITY_LIMIT ACCEL=4000 ACCEL_TO_DECEL=2000       # Reset velocity/accel limits post-print
    BED_MESH_CLEAR                                          # Clear bed mesh
    _STATUS_READY                                           # LED Status to Ready
    SET_FILAMENT_SENSOR SENSOR=motion ENABLE=0              # Disable filament motion sensor
    UPDATE_DELAYED_GCODE ID=_PRINTER_SET_IDLE DURATION=300  # Set fans/leds/filament after 5 min
    SET_DISPLAY_TEXT MSG="Print Complete .. Cool Down"      # Display info on display
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0

## Print Pause Macro
[gcode_macro PAUSE]
description: Pause current print job
rename_existing: BASE_PAUSE
gcode:
    {% set z = params.Z|default(10)|int %}

    {% if printer['pause_resume'].is_paused|int == 0 %}
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE={z}                            # Set z hop variable for reference in resume macro
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=etemp VALUE={printer['extruder'].target}  # Set hotend temp variable for reference in resume macro
        SAVE_GCODE_STATE NAME=PAUSE                                                        # Save current print position for resume
        BASE_PAUSE                                                                         # Pause print
        {% if (printer.gcode_move.position.z + z) < printer.toolhead.axis_maximum.z %}     # Check that zhop doesn't exceed z max
            G91                                                                            # Relative positioning
            G1 Z{z} F900                                                                   # Raise Z up by z hop amount
        {% else %}
            { action_respond_info("Pause zhop exceeds maximum Z height") }
            SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE=0
        {% endif %}
        G90                                                                                # Absolute positioning
        G1 X{printer.toolhead.axis_maximum.x / 2} Y{printer.toolhead.axis_minimum.y + 5} F6000  # Park toolhead at front center
        SAVE_GCODE_STATE NAME=PAUSEPARK                                                    # Save parked position
        M104 S0                                                                            # Turn off hotend
        SET_IDLE_TIMEOUT TIMEOUT=36000                                                     # Set timeout to 10 hours
    {% endif %}

## Print Resume Macro
[gcode_macro RESUME]
description: Resume current print job
rename_existing: BASE_RESUME
variable_zhop: 0
variable_etemp: 0
gcode:
    {% set e = params.E|default(2.5)|int %}                       # Hotend prime amount (mm)

    {% if printer['pause_resume'].is_paused|int == 1 %}
        SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}
        {% if etemp > 0 %}
            M109 S{etemp|int}                                     # Wait for hotend to heat back up
        {% endif %}
        RESTORE_GCODE_STATE NAME=PAUSEPARK MOVE=1 MOVE_SPEED=100  # Go back to parked position
        G91                                                       # Relative positioning
        M83                                                       # Relative extruder positioning
        {% if printer[printer.toolhead.extruder].temperature >= printer.configfile.settings.extruder.min_extrude_temp %}
            G1 Z{zhop * -1} E{e} F900                             # Prime nozzle by E, lower Z back down
        {% else %}
            G1 Z{zhop * -1} F900                                  # Lower Z back down without priming
        {% endif %}
        RESTORE_GCODE_STATE NAME=PAUSE MOVE=1 MOVE_SPEED=60       # Restore position
        _STATUS_PRINTING                                          # Set LED status printing
        BASE_RESUME                                               # Resume print
    {% endif %}

## Print Cancel Macro
[gcode_macro CANCEL_PRINT]
description: Cancel the current print job (utilize the PRINT_END macro)
rename_existing: BASE_CANCEL_PRINT
gcode:
    SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    PRINT_END
    BASE_CANCEL_PRINT

## Override M109 (Wait for Hotend Temperature)
[gcode_macro M109]
description: Override M109 (wait for hotend temp)
rename_existing: M99109
gcode:
    {% set s = params.S|float %}

    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}

    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s} MAXIMUM={s + 1}
    {% endif %}

## Load Filament Macro for KlipperScreen
[gcode_macro LOAD_FILAMENT]
description: Load filament into the tool head
variable_load_dist: 50
variable_purge_dist: 75
variable_load_temp: 235
variable_load_speed: 300
gcode:
    SAVE_GCODE_STATE NAME=load_state
    RESPOND TYPE=command MSG="action:prompt_end"  # End prompt if shown
    M109 S{load_temp}                             # Heat nozzle to load temp
    G91                                           # Relative positioning
    G92 E0                                        # Zero the extruder
    G1 E{load_dist} F{load_speed * 2}             # Filament load
    G1 E{purge_dist} F{load_speed}                # Filament purge
    M400                                          # Wait to complete load
    M104 S0                                       # Turn off hotend
    M118 Filament Load Complete                   # Toast message to display
    RESTORE_GCODE_STATE NAME=load_state

## Unload Filament Macro for KlipperScreen
[gcode_macro UNLOAD_FILAMENT]
description: Unload filament from the tool head
variable_purge_dist: 25
variable_unload_dist: 85
variable_unload_temp: 235
variable_unload_speed: 300
gcode:
    SAVE_GCODE_STATE NAME=unload_state
    M109 S{unload_temp}                   # Heat nozzle to unload temp
    G91                                   # Relative positioning
    G92 E0                                # Zero the extruder
    G1 E{purge_dist} F{unload_speed / 2}  # Purge filament
    G1 E-10 F3600                         # Fast retract filament to cold end
    G4 P2000                              # Wait for two seconds
    G1 E-{unload_dist} F{unload_speed}    # Retract slowly out of hot end     
    M400                                  # Wait to complete unload
    
    # Prompt user if loading filament
    RESPOND TYPE=command MSG="action:prompt_begin Filament Unloaded"
    RESPOND TYPE=command MSG="action:prompt_text Filament unload complete. Load filament (load filament to extruder before choosing) or complete unload?"
    RESPOND TYPE=command MSG="action:prompt_button LOAD FILAMENT|LOAD_FILAMENT|primary"
    RESPOND TYPE=command MSG="action:prompt_button UNLOAD COMPLETE|_UNLOAD_COMPLETE|secondary"
    RESPOND TYPE=command MSG="action:prompt_show"
    
    RESTORE_GCODE_STATE NAME=unload_state

## Complete Prompt Macro
[gcode_macro _UNLOAD_COMPLETE]
gcode:
    {% if printer['virtual_sdcard'].is_active|int == 0 %}       # If not actively printing
        RESPOND TYPE=command MSG="action:prompt_end|secondary"  # End Load Macro Prompting
        M104 S0                                                 # Turn off hotend
        M118 Filament Load Complete                             # Toast message to display
    {% endif %}

## G32 Full Home Process Macro
[gcode_macro G32]
description: “Full home” process that homes and performs leveling / tilt adjustments
gcode:
    BED_MESH_CLEAR                               # Clear any loaded bed mesh
    G28                                          # Full home (XYZ)
    QUAD_GANTRY_LEVEL                            # Level the printer via QGL
    CLEAN_NOZZLE                                 # Clean nozzle prior to carto. touch (real Z0)
    CARTOGRAPHER_TOUCH_HOME                      # Home for real Z0 value (replaces G28 Z)
    CARTOGRAPHER_AXIS_TWIST_COMPENSATION AXIS=X  # Axis twist compensation (x-axis)
    CARTOGRAPHER_AXIS_TWIST_COMPENSATION AXIS=Y  # Axis twist compensation (y-axis)
    G0 X175 Y175 Z35 F10000                      # Move to center of bed

## Exclude Object Macro M486
[gcode_macro M486]
description: Exclude objects from current print job in case of object issues
gcode:
    {% if 'exclude_object' not in printer %}
        {action_raise_error("[exclude_object] is not enabled")}
    {% endif %}

    {% if 'T' in params %}
        EXCLUDE_OBJECT RESET=1
        {% for i in range(params.T | int) %}
            EXCLUDE_OBJECT_DEFINE NAME={i}
        {% endfor %}
    {% endif %}

    {% if 'C' in params %}
        EXCLUDE_OBJECT CURRENT=1
    {% endif %}

    {% if 'P' in params %}
        EXCLUDE_OBJECT NAME={params.P}
    {% endif %}

    {% if 'S' in params %}
        {% if params.S == '-1' %}
            {% if printer.exclude_object.current_object %}
                EXCLUDE_OBJECT_END NAME={printer.exclude_object.current_object}
            {% endif %}
        {% else %}
            EXCLUDE_OBJECT_START NAME={params.S}
        {% endif %}
    {% endif %}

    {% if 'U' in params %}
        EXCLUDE_OBJECT RESET=1 NAME={params.U}
    {% endif %}

## Show Variables Macro
[gcode_macro SHOW_VARIABLES]
description: Show all printer variables with optional name/value filters
gcode:
    {% set filter_name = params.NAME|default('')|string|lower %}
    {% set filter_value = params.VALUE|default('')|string|lower %}
    {% set show_cfg = params.SHOW_CFG|default(0)|int %}
    
    {% set out = [] %}

    {% for key1 in printer %}
        {% for key2 in printer[key1] %}
            {% if (show_cfg or not (key1|lower == 'configfile' and key2|lower in ['config', 'settings'])) and (filter_name in key1|lower or filter_name in key2|lower) and filter_value in printer[key1][key2]|string|lower %}
                {% set dummy = out.append("printer['%s'].%s = %s" % (key1, key2, printer[key1][key2])) %}
            {% endif %}
        {% else %}
            {% if filter_name in key1|lower and filter_value in printer[key1]|string|lower %}
                {% set dummy = out.append("printer['%s'] = %s" % (key1, printer[key1])) %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    
    {action_respond_info(out|join("\n"))}
