################################################################################
# 	Sensorless Homing Configuration
################################################################################

## XY Sensorless Homing Variables
[gcode_macro _SENSORLESS_HOMING_VARS]
variable_homing_current: 0.6   # Homing motor current override
variable_backoff_distance: 10  # Back off distance from the X axis after homing
variable_clear_time: 1         # Wait time for stallguard registers to clear
variable_zhop_distance: 5     # Z-hop distance prior to and after homing
variable_safe_x: 175           # Safe X position to home the Z axis
variable_safe_y: 175           # Safe Y position to home the Z axis
gcode:

## X Homing Macro
[gcode_macro _HOME_X]
gcode:
    {% set s_variables = printer["gcode_macro _SENSORLESS_HOMING_VARS"] %}
    {% set h_current = s_variables.homing_current|float %}
    {% set b_distance = s_variables.backoff_distance|int %}
    {% set c_time = (s_variables.clear_time * 1000)|float %}
    {% set h_speed = (printer.configfile.settings['stepper_x'].homing_speed * 60)|float %}  
    {% set x_estop_pos = printer.configfile.settings['stepper_x'].position_endstop|int %}
    {% set r_current_x = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set r_current_y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={h_current}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={h_current}

    G4 P{c_time}                    # Wait for stallguard registers to clear
    G28 X                           # Home the X-axis
    G91                             # Incremental positioning
    G0 X-{b_distance} F{h_speed}    # Back off from X axis endstop 
    G90                             # Absolute positioning
    G0 X{x_estop_pos - b_distance}  # Subtract backoff from endstop, set as x position
    
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={r_current_x}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={r_current_y}

## Y Homing Macro
[gcode_macro _HOME_Y]
gcode:
    {% set s_variables = printer["gcode_macro _SENSORLESS_HOMING_VARS"] %} 
    {% set h_current = s_variables.homing_current|float %}
    {% set b_distance = s_variables.backoff_distance|int %}
    {% set c_time = (s_variables.clear_time * 1000)|float %}
    {% set h_speed = (printer.configfile.settings['stepper_y'].homing_speed * 60)|float %}
    {% set y_estop_pos = printer.configfile.settings['stepper_y'].position_endstop|int %}    
    {% set r_current_x = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set r_current_y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={h_current}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={h_current}
    
    G4 P{c_time}                    # Wait for stallguard registers to clear
    G28 Y                           # Home the Y-axis
    G91                             # Incremental positioning
    G0 Y-{b_distance} F{h_speed}    # Back off from Y axis endstop
    G90                             # Absolute positioning
    G0 Y{y_estop_pos - b_distance}  # Subtract backoff from endstop, set as y position

    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={r_current_x}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={r_current_y}
    
[homing_override]
axes: xyz
set_position_z: 0
gcode:
    {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}
    {% set z_speed = (printer.configfile.settings['stepper_z'].homing_speed * 60)|float %}
    {% set t_speed = (printer.toolhead.max_velocity * 30)|float %}
    {% set s_variables = printer["gcode_macro _SENSORLESS_HOMING_VARS"] %}
    {% set z_distance = s_variables.zhop_distance|float %}
    {% set x_safe = s_variables.safe_x|float %}
    {% set y_safe = s_variables.safe_y|float %}

    {% if 'x' not in printer.toolhead.homed_axes and 'y' not in printer.toolhead.homed_axes %}
        G0 Z{z_distance} F{z_speed}        # Raise Z up by Z-hop distance
    {% endif %} 
    
    {% if home_all or 'X' in params %}
        _HOME_X 
    {% endif %}

    {% if home_all or 'Y' in params %}
        _HOME_Y
    {% endif %}
    
    {% if home_all or 'Z' in params %}
        G0 X{x_safe} Y{y_safe} F{t_speed}  # Move to center of bed at travel speed
        G28 Z                              # Home the Z-axis
        G0 Z{z_distance * 2} F{z_speed}    # Move Z to twice the Z-hop value
    {% endif %} 
